.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #6DA8DE;
}

p {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}

.player1 {
  color: #6DA8DE;
}

.player2 {
  color: #8A912A;
}

img {
  width: 80%;
}

footer {
  margin-top: 20%;
  background-color: white;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
